@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #3d3d3d;
  --secondary: #d3d3d3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  padding: .5em 1em;
}


@media screen and (max-width: 30em) {
  .container {
    width: 100vw
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 cursor-pointer
  }
}
.btn.primary {
  color: var(--primary);
  background-color: var(--secondary);
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  scrollbar-width: thin;
  background: none;
}

/* Track */
::-webkit-scrollbar-track {
  width: 2px;
  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 10%); 
  width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(0 0 0 / 15%);
  cursor: pointer
}